@page "/applicationsreceived"

<div class="container applications-received">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md8">
            <h3 style="font-display: auto">Pristigle prijave </h3>
            <br />
            <br />
            <br />
            <h4>@ApplicationsReceivedDisplayModel.Title</h4>
            <br />
            <div class="row">
                <div class="col-sm-4">Pozicija</div>
                <div class="col-sm-6">Prijavljeni kandidati</div>
                <div class="col-sm-2">Prihvati</div>
                <br />
            </div>
            @foreach (eduProjectModel.Display.ApplicantProfileDisplayModel applicant in ApplicationsReceivedDisplayModel.ApplicantProfileDisplayModel)
            {
                <hr style="border-top: 1px solid lightblue" />
                <div class="col-sm-4">@applicant.Position</div>
                <div class="col-sm-6">@applicant.FirstName @applicant.LastName</div>
                <div class="col-sm-2">
                    <input type="checkbox" @onchange="@(()=>applicant.CheckedForCollaboration=!applicant.CheckedForCollaboration)" />
                </div>
            }
            <br />
            <div>
                <hr style="border-top: 1px solid lightblue" />
                <button type="button" class="btn btn-info" @onclick="ChoseAndClose">Izaberi saradnike i zatvori projekat</button>
            </div>
        </div>
    </div>
</div>