<div class="row">
    <div class="container-fluid">
        <div class="col-md-4">
            <h5>Potrebni saradnici:</h5>
        </div>
        @foreach (eduProjectModel.Display.FacultyMemberProfileDisplayModel facultyMember in AuthorActiveProjectDisplayModel.FacultyMemberProfileDisplayModels)
        {
            <hr style="border-top: 1px solid lightblue" />
            <div class="row">
                <div class="col-md-4">
                    @facultyMember.FacultyName, @facultyMember.StudyFieldName
                </div>
                <div class="col-md-4 ml-auto">
                    @facultyMember.Description
                </div>
            </div>
        }

        @foreach (eduProjectModel.Display.StudentProfileDisplayModel students in AuthorActiveProjectDisplayModel.StudentProfileDisplayModels)
        {
            <hr style="border-top: 1px solid lightblue" />
            <div class="row">
                <div class="col-md-4">
                    @students.FacultyName, @students.StudyProgramName, @students.StudyProgramSpecializationName
                </div>
                <div class="col-md-4 ml-auto">
                    @students.Description
                </div>
            </div>
        }
        <hr style="border-top: 1px solid lightblue" />
    </div>
</div>

<div class="row">
    @if (AuthorActiveProjectDisplayModel.Tags == null)
    {
        <div class="col-md-4">
            <br /><br /><h5>Ne postoje tagove povezani sa ovim projektom!</h5><br />
        </div>
    }
    else
    {
        <div class="col-md-4">
            <br /><br /><h5>Tagovi:</h5><br />
        </div>
        <div class="form-group mx-sm-3 mb-2 row">
            @foreach (eduProjectModel.Domain.Tag tag in AuthorActiveProjectDisplayModel.Tags)
            {
                <h5><span class="badge badge-primary projectview-tag">#@tag.Name</span></h5>
                @*<h5>@tag.Description</h5>*@
            }
        </div>
    }
</div>