@page "/homepage/{queryString}"
@page "/homepage"
@inject ApiService ApiService
@inject NavigationManager NavigationManager

@inject IAuthService AuthService

<div class="content">
    <h3>@Title</h3>

    @if (projectDisplayModels.Count() == 0)
    {
        <h4>Nema rezultata.</h4>
    }

    @foreach (var model in projectDisplayModels)
    {
        <div class="section-homepage">
            <div class="heading">
                <img src="/css/bootstrap/kanban.svg" width="30" height="30" />
                <h4 class="title"><a href="@($"{NavigationManager.BaseUri}projects/{model.ProjectId}")" style="color:black">@model.Title</a></h4>
            </div>

            <h5>Status projekta</h5>
            @if (model.ProjectStatus == ProjectStatus.Active)
            {
                <p class="status-active">@(model.ProjectStatus.GetAttribute<DisplayAttribute>().Name)</p>
            }
            else
            {
                <p class="status-closed">@(model.ProjectStatus.GetAttribute<DisplayAttribute>().Name)</p>
            }

            <h5>Opis</h5>
            <p>@model.Description</p>

            <h5>Oblast</h5>
            <p>@model.StudyField.Name</p>

            <h5>Period realizacije</h5>
            <div class="time-period">
                @if (model.StartDate == null)
                {
                    <p class="date">N/A</p>
                }
                else
                {
                    <p class="date">@model.StartDate</p>
                }
                <p class="date"> - </p>
                @if (model.EndDate == null)
                {
                    <p class="date">N/A</p>
                }
                else
                {
                    <p class="date">@model.EndDate</p>
                }
            </div>
        </div>
    }
</div>
