@page "/admin/news"
@layout AdminLayout
@inject ApiService ApiService
@inject IJSRuntime JsRuntime;
@inject IModalService Modal

<style>



	.container {
		margin-bottom: 60px;
		padding-top: 2rem;
	}

	.h3-title {
		color: gray;
		text-align: center;
	}

	.h3-tree-title {
		color: gray;
	}

	.spinner-border {
		width: 60px;
		height: 60px;
		text-align: center;
		top: 40%;
		position: absolute;
	}

	.content {
		padding-top: 1rem;
		padding-bottom: 7rem;
	}
</style>


<AuthorizeView Context="authContext" Roles="Admin">
	<Authorized>
		<div class="container">

			<h3 class="h3-title">Administrator</h3>
			<h3 class="h3-tree-title">Postavljanje novosti</h3>

			<EditForm OnValidSubmit="@AddNews" Model="@model">
				<DataAnnotationsValidator />
				<label>Naslov</label>
				<InputText @bind-Value="@model.Title" class="form-control"></InputText>
				<p style="color:red"><ValidationMessage For="@(() => model.Title)" /></p>

				<label style="margin-top: 1rem;">Sadržaj</label>
				<InputTextArea @bind-Value="@model.Content" class="form-control content" wrap="soft"></InputTextArea>
				<p style="color:red"><ValidationMessage For="@(() => model.Title)" /></p>

				<button class="btn btn-outline-info float-right" style="margin-top:1rem;" type="submit"> Postavi </button>
			</EditForm>
		</div>
	</Authorized>
	<NotAuthorized>
		<NotAuthorizedComponent>
		</NotAuthorizedComponent>
	</NotAuthorized>
</AuthorizeView>


@code {

	NewsInputModel model = new NewsInputModel();

	public async Task AddNews()
	{
		try
		{
			var response = await ApiService.PostAsync<NewsInputModel>("/news", model);

			var parameters = new ModalParameters();
			parameters.Add(nameof(InfoPopup.Message), response.StatusCode.GetMessage());
			Modal.Show<InfoPopup>("Obavještenje", parameters);

			if (response.IsSuccessStatusCode)
			{
				//NavigationManager.NavigateTo("/homepage", true);
			}
		}
		catch (Exception ex)
		{
			var parameters = new ModalParameters();
			parameters.Add(nameof(InfoPopup.Message), "Desila se neočekivana greška. Molimo pokušajte kasnije.");
			Modal.Show<InfoPopup>("Obavještenje", parameters);
		}
	}

}
