<div class="container pw-change">
    <div class="form-group pass-show">
        <input type="@TxtType1" class="form-control" placeholder="Trenutna lozinka">
        <span class="ptxt" @onclick="ShowPassword1">@ShowAttribute1</span>
    </div>
    <div class="form-group pass-show">
        <input type="@TxtType2" class="form-control" placeholder="Nova lozinka">
        <span class="ptxt" @onclick="ShowPassword2">@ShowAttribute2</span>
    </div>
    <div class="form-group pass-show">
        <input type="@TxtType3" class="form-control" placeholder="Potvrdi lozinku">
        <span class="ptxt" @onclick="ShowPassword3">@ShowAttribute3</span>
    </div>
    <div class="pswd-change-btns">
        <div class="pswd-change-btn">
            <button class="btn btn-outline-success pswd-final-btn">Potvrdi</button>
        </div>
        <div class="pswd-change-btn">
            <button class="btn btn-outline-danger pswd-final-btn">Otkaži</button>
        </div>
    </div>
</div>