@page "/users/{UserId:int}"
@inject NavigationManager NavigationManager

<div class="content">
    @if (ProfileDisplayModel == null)
    {
        <h3>Loading...</h3>
    }
    else
    {
        <img src="/img/default-user-avatar.png" width="300" height="300" />
        <h3 style="margin-top:2rem">@($"{ProfileDisplayModel.FirstName} {ProfileDisplayModel.LastName}")</h3>
        @if (ProfileDisplayModel.UserAccountType == UserAccountType.Student)
        {
            <h4>@($"Student, {ProfileDisplayModel.FacultyName}")</h4>
        }
        else
        {
            <h4>@($"{ProfileDisplayModel.AcademicRank.GetAttribute<DisplayAttribute>().Name}, {ProfileDisplayModel.FacultyName}")</h4>
        }
        <br />

        <div class="section">
            <div class="heading">
                <img src="/css/bootstrap/info-square.svg" width="30" height="30" />
                <h4 class="title">Osnovne informacije</h4>
            </div>
            <hr class="divider" />

            <h5>Biografija</h5>
            <p>@ProfileDisplayModel.Bio</p>
        </div>

        <div class="section">
            @if (ProfileDisplayModel.UserAccountType == UserAccountType.Student)
            {
                <div class="heading">
                    <img src="/css/bootstrap/building.svg" width="30" height="30" />
                    <h4 class="title">Institucija studiranja</h4>
                </div>
                <hr class="divider" />

                <h5>Fakultet</h5>
                <p>@ProfileDisplayModel.FacultyName</p>

                <h5>Ciklus</h5>
                <p>@ProfileDisplayModel.Cycle</p>

                <h5>Studijski program</h5>
                <p>@ProfileDisplayModel.StudyProgramName</p>

                <h5>Studijski smjer</h5>
                <p>@ProfileDisplayModel.StudyProgramSpecializationName</p>

                <h5>Godina studija</h5>
                <p>@ProfileDisplayModel.StudyYear</p>
            }
            else
            {
                <div class="heading">
                    <img src="/css/bootstrap/building.svg" width="30" height="30" />
                    <h4 class="title">Institucija djelovanja</h4>
                </div>
                <hr class="divider" />

                <h5>Fakultet</h5>
                <p>@ProfileDisplayModel.FacultyName</p>

                <h5>Uža naučna oblast</h5>
                <p>@ProfileDisplayModel.StudyFieldName</p>
            }
        </div>

        <div class="section">
            <div class="heading">
                <img src="/css/bootstrap/envelope.svg" width="30" height="30" />
                <h4 class="title">Kontakt</h4>
            </div>
            <hr class="divider" />

            @if (ProfileDisplayModel.EmailVisible)
            {
                <h5>Email</h5>
                <p>@ProfileDisplayModel.Email</p>
            }

            @if (ProfileDisplayModel.PhoneNumberVisible)
            {
                <h5>Broj telefona</h5>
                <p>@ProfileDisplayModel.PhoneNumber</p>
            }

            <h5>Website</h5>
            <p>@ProfileDisplayModel.Website</p>

            <h5>LinkedIn</h5>
            <p>@ProfileDisplayModel.LinkedinProfile</p>

            <h5>ResearchGate</h5>
            <p>@ProfileDisplayModel.ResearchgateProfile</p>
        </div>

        <div class="section">
            <div class="heading">
                <img src="/css/bootstrap/kanban.svg" width="30" height="30" />
                <h4 class="title">Projekti</h4>
            </div>
            <hr class="divider" />

            <h5>Oglašeni projekti</h5>
            @foreach (var p in ProfileDisplayModel.AuthoredProjectDisplayModels)
            {
                <p><a href=@($"{NavigationManager.BaseUri}projects/{p.ProjectId}")>@(p.Title)</a></p>
            }

            @if (ProfileDisplayModel.ProjectsVisible)
            {
                <h5>Saradnje na projektima</h5>
                @foreach (var p in ProfileDisplayModel.ProjectCollaborationsDisplayModels)
                {
                    <p><a href=@($"{NavigationManager.BaseUri}projects/{p.ProjectId}")>@(p.Title)</a></p>
                }
            }
        </div>
    }
</div>
