@page "/projects/{ProjectId:int}"
@inject IModalService Modal
@inject ProjectApplicationInputModel model
@inject NavigationManager NavigationManager
@inject IModalService Modal
@inject ILocalStorageService localStorage

<style>
	body {
		padding-top: 7rem;
		padding-bottom: 7rem;
		margin: auto;
	}

	.time-period {
		display: flex;
		position: absolute;
		right: 0;
		margin-right: 10px;
		margin-bottom: 0;
	}

		.time-period .date {
			margin-right: 10px;
			margin-bottom: 0;
		}



	.buttons {
		margin-top: 0;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row-reverse;
	}

	.projectStatus {
		display: flex;
		text-align: left;
		margin: 0;
		margin-bottom: -10px;
	}

	#buttonTags {
		margin-top: 12px;
		display: flex;
	}

	.table {
		margin-top: 2rem;
	}

		.table tr:hover {
			/*cursor: pointer;       */
		}


	.selected-row {
		/*background-color: rgba(0, 251, 255, 0.3) !important;*/
		background-color: #029acf;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
	}

		.tags .tag {
			margin-right: 10px;
			padding: 5px 10px 5px 10px;
			border: solid thin lightgray;
			border-radius: 5px;
		}

			.tags .tag:hover {
				color: #FFF;
				background-color: #029acf;
				border-color: #029acf;
				cursor: none;
			}

	.spinner-border {
		width: 80px;
		height: 80px;
		top: 40%;
		left: 46%;
		position: absolute;
	}
</style>

<AuthorizeView>
	<Authorized>
		<div class="container">
			@if (ProjectDisplayModel == null)
				{
				<div class="d-flex justify-content-center">
					<div class="spinner-border text-info" role="status">
						<span class="sr-only"></span>
					</div>
				</div>
				}
			else
			{
				<div class="card">
					<div class="card-header" style="display:flex">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
							<path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
							<path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
							<path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
						</svg>
						<h5 style="margin-left:10px; margin-top:4px;"><a href="@(NavigationManager.BaseUri.ToString() + $"users/{ProjectDisplayModel.Links["author_profile"]}")" class="text-reset">@ProjectDisplayModel.AuthorFullName</a></h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">@ProjectDisplayModel.Title</h3>
						<p class="card-text">
							@ProjectDisplayModel.Description
						</p>
						<TagsOverview Editing="false"
									  TagNames="ProjectDisplayModel.Tags.Select(t => t.Name).ToList()"></TagsOverview>
					</div>
					<div class="card-footer text-muted" style="display:flex">
						<div class="projectStatus">
							<p class="text-muted">Status: </p>
							@if (ProjectDisplayModel.ProjectStatus == ProjectStatus.Active)
								{
								<p class="text-success" style="margin-left:8px;">@(ProjectDisplayModel.ProjectStatus.GetAttribute<DisplayAttribute>().Name)</p>
								}
							else
							{
								<p class="text-primary" style="margin-left:8px;">@(ProjectDisplayModel.ProjectStatus.GetAttribute<DisplayAttribute>().Name)</p>
								}
						</div>
						<div class="time-period">
							@if (ProjectDisplayModel.StartDate == null)
								{
								<p class="date">N/A</p>
								}
							else
							{
								<p class="date">@ProjectDisplayModel.StartDate</p>
								}
							<p class="date"> - </p>
							@if (ProjectDisplayModel.EndDate == null)
								{
								<p class="date">N/A</p>
								}
							else
							{
								<p class="date">@ProjectDisplayModel.EndDate</p>
								}
						</div>
					</div>
				</div>
				<CollaboratorProfilesOverview StudentProfileDisplayModels="@ProjectDisplayModel.StudentProfileDisplayModels"
										  FacultyMemberProfileDisplayModels="@ProjectDisplayModel.FacultyMemberProfileDisplayModels"
										  IsProjectRecommended="@ProjectDisplayModel.Recommended"
										  ProjectDisplayModels="@ProjectDisplayModel"></CollaboratorProfilesOverview>
										  <CollaboratorsOverview CollaboratorDisplayModels="@ProjectDisplayModel.CollaboratorDisplayModels"></CollaboratorsOverview>
										  @if (!ProjectDisplayModel.IsForAuthor)
											  {
											  <div class="buttons">
												  <button class="btn btn-outline-info" @onclick="ShowApplicationSubmitPopup">Prijavi se</button>
											  </div>
											  }
										  else
										  {
											  <div class="buttons">
												  <button class="btn btn-outline-info" style="margin-left:4px;" @onclick="EditProject">Izmijeni</button>
												  <button class="btn btn-outline-primary" style="margin-left:4px;" @onclick="ShowProjectDeleteWarning">Izbriši</button>
											  </div>
											  }
				}
		</div>
	</Authorized>
	<NotAuthorized>
		<NotAuthorizedComponent>
		</NotAuthorizedComponent>
	</NotAuthorized>
</AuthorizeView>
