@page "/create"
@page "/projects/{id:int}/edit"
@inject ApiService ApiService
@inject IModalService Modal
@inject NavigationManager NavigationManager


<div class="content">
    @if (editing)
    {
        <h3>@projectInputModel.Title</h3>
    }
    else
    {
        <h3>Novi projekat</h3>
    }

    <EditForm Model="@projectInputModel" OnValidSubmit="CreateOrUpdateProject">
        <DataAnnotationsValidator />
        <div class="section">
            <h4 class="title">Osnovne informacije</h4>

            <h5>Naziv projekta</h5>
            <InputText @bind-Value="@projectInputModel.Title"></InputText>
            <p style="color:red"><ValidationMessage For="@(() => projectInputModel.Title)" /></p>

            <h5>Oblast projekta</h5>
            <InputSelect TValue="string" @bind-Value="@projectInputModel.StudyFieldName">
                <option value=null></option>
                @foreach (var sf in studyFields)
                {
                    if (sf.Name == projectInputModel.StudyFieldName)
                    {
                        <option selected value="@sf.Name">@sf.Name</option>
                    }
                    else
                    {
                        <option value="@sf.Name">@sf.Name</option>
                    }
                }
            </InputSelect>
            <p style="color:red"><ValidationMessage For="@(() => projectInputModel.StudyFieldName)" /></p>

            <h5>Početak realizacije</h5>
            <InputDate @bind-Value="@projectInputModel.StartDate"></InputDate>

            <h5>Kraj realizacije</h5>
            <InputDate @bind-Value="@projectInputModel.EndDate"></InputDate>

            <h5>Opis projekta</h5>
            <InputTextArea @bind-Value="@projectInputModel.Description"></InputTextArea>
            <p style="color:red"><ValidationMessage For="@(() => projectInputModel.Description)" /></p>

            <TagsOverview Editing="true" ProjectInputModel="projectInputModel" TagNames="projectInputModel.TagNames"></TagsOverview>
            <BlazoredTypeahead SearchMethod="FilterTags" @bind-Value="AddedTag" Context="tag">
                <SelectedTemplate>
                    @tag.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @tag.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Nema rezultata.
                </NotFoundTemplate>
            </BlazoredTypeahead>
        </div>

        <div class="section">
            <h4 class="title">Dodani profili saradnika</h4>

            <div class="collaborator-profiles-table scrollable">
                <table>
                    <thead>
                        <tr>
                            <th>Tip</th>
                            <th>Fakultet</th>
                            <th>Ciklus</th>
                            <th>Program</th>
                            <th>Smjer</th>
                            <th>Godina</th>
                            <th>Naučna oblast</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in projectInputModel.CollaboratorProfileInputModels)
                        {
                            <tr>
                                <td>@p.CollaboratorProfileType</td>
                                <td>@p.FacultyName</td>
                                <td>@p.Cycle</td>
                                <td>@p.StudyProgramName</td>
                                <td>@p.StudyProgramSpecializationName</td>
                                <td>@p.StudyYear</td>
                                <td>@p.StudyFieldName</td>
                                @if (!p.AddedOnCreate)
                                {
                                    <td><button class="button" type="button" @onclick="@(() => RemoveCollaboratorProfile(p))">Ukloni</button></td>
                                }
                                @if (!p.AddedOnCreate)
                                {
                                    <td><button class="button" type="button" @onclick="@(() => EditCollaboratorProfile(p))">Izmijeni</button></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <p style="color:red"><ValidationMessage For="@(() => projectInputModel.CollaboratorProfileInputModels)" /></p>
            </div>
        </div>

        @if (editing)
        {
            <div class="buttons">
                <button class="button button-primary" type="button" @onclick="@(() => ShowCreateCollaboratorProfilePopup(false, -1))">Dodaj profil saradnika</button>
                <button class="button button-primary" type="submit">Sačuvaj izmjene</button>
                <button class="button" type="button" @onclick="@CancelEditing">Odustani</button>
            </div>
        }
        else
        {
            <div class="buttons">
                <button class="button button-primary" type="button" @onclick="@(() => ShowCreateCollaboratorProfilePopup(false, -1))">Dodaj profil saradnika</button>
                <button class="button button-primary" type="submit">Oglasi projekat</button>
            </div>
        }
    </EditForm>
</div>
