@page "/users/{UserId:int}/settings"
@inject ApiService ApiService
@inject NavigationManager NavigationManager

<div class="content">
    @if (displayModel == null)
    {

    }
    else
    {
        <h3>Podešavanja</h3>
        <EditForm Model="@inputModel">
            <div class="section">
                <h4 class="title">Osnovne informacije</h4>
                <h5>Biografija</h5>
                <InputTextArea @bind-Value="@inputModel.Bio"></InputTextArea>
                <h5>Cv</h5>
                <InputText @bind-Value="@inputModel.CvLink"></InputText>
                <h5>Website</h5>
                <InputText @bind-Value="@inputModel.Website"></InputText>
                <h5>Linkedin profil</h5>
                <InputText @bind-Value="@inputModel.LinkedinProfile"></InputText>
                <h5>ResearchGate profil</h5>
                <InputText @bind-Value="@inputModel.ResearchgateProfile"></InputText>
            </div>

            <div class="section">
                <h4 class="title">Privatnost</h4>
                <h5>Vidljiv email</h5>
                <InputCheckbox @bind-Value="@inputModel.EmailVisible">
                </InputCheckbox>
                <h5>Vidljiv telefon</h5>
                <InputCheckbox @bind-Value="@inputModel.PhoneVisible">
                </InputCheckbox>
                <h5>Vidljivi projekti</h5>
                <InputCheckbox @bind-Value="@inputModel.ProjectsVisible">
                </InputCheckbox>
            </div>

            <TagsOverview Editing="true" TagNames="@inputModel.UserTagNames"></TagsOverview>

            <BlazoredTypeahead SearchMethod="@FilterTags"
                               @bind-Value="@AddedTag"
                               Context="tag">
                <SelectedTemplate>
                    @tag.Name
                </SelectedTemplate>
                <ResultTemplate>
                    @tag.Name
                </ResultTemplate>
                <NotFoundTemplate>
                    Nema rezultata.
                </NotFoundTemplate>
            </BlazoredTypeahead>

        </EditForm>

        <div class="buttons">
            <button class="button" @onclick="@CancelUpdateSettings">Odustani</button>
            <button class="button button-primary" @onclick="@UpdateSettings">Sačuvaj izmjene</button>
        </div>
    }
</div>

