@inject ApiService ApiService
@inject IModalService Modal

<EditForm Model="@RegisterInputModel" OnValidSubmit="@UpdateAccountInformation">
	<DataAnnotationsValidator />

	<div class="mb-3">
		<label>Email</label>
		<InputText type="text" class="form-control" @bind-Value="@RegisterInputModel.Email"></InputText>
		<p style="color:red"><ValidationMessage For="@(() => RegisterInputModel.Email)" /></p>
	</div>

	<div class="mb-3">
		<label>Lozinka</label>
		<InputText type="password" class="form-control" @bind-Value="@RegisterInputModel.Password"></InputText>
		<p style="color:red"><ValidationMessage For="@(() => RegisterInputModel.Password)" /></p>
	</div>

	<div class="mb-3">
		<label>Ponovite lozinku</label>
		<InputText type="password" class="form-control" @bind-Value="@RegisterInputModel.ConfirmPassword"></InputText>
		<p style="color:red"><ValidationMessage For="@(() => RegisterInputModel.Password)" /></p>
	</div>

	<button class="btn btn-outline-info float-right" type="submit">Sačuvaj</button>
</EditForm>