@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject IAuthService AuthService

<style>
    .nav-item{
        cursor:pointer;
    }
    .nav-link {
        cursor: pointer;
    }
    .navbar-brand{
        cursor:pointer;
    }
</style>

<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" @onclick="@(() => NavigationManager.NavigateTo("/homepage", true))">eduProject</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
         

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" @onclick="@(() => NavigationManager.NavigateTo("/create", true))">
                            Novi projekat
                        </a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" @onclick="@(() => NavigationManager.NavigateTo("/homepage?status=active", true))">Aktivni projekti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @onclick="@(() => NavigationManager.NavigateTo("/homepage?authored=true", true))">Moji projekti</a>
                    </li>
                </ul>

                <div class="nav-item my-1 mx-2">
                    <form class="form-inline my-2 my-lg-0" @onsubmit="@(()=> { })">
                        <input class="form-control m-sm-2" type="search" placeholder="" aria-label="Search"
                               @bind-value="queryString">
                        <button class="btn btn-secondary my-2 my-sm-0" type="button" @onclick="Search">Pretraži</button>
                    </form>
                </div>

                <a class="nav-link"@onclick="@(async () =>
                                                              {
                                                                  NavigationManager.NavigateTo($"/users/{await LocalStorage.ExtractUserId()}", true);})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="WhiteSmoke" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                </a>

                @*<div class="nav-item dropdown my-1">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Podešavanja
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item nav-link" @onclick="@(async () =>
                                                              {
                                                                  NavigationManager.NavigateTo($"/users/{await LocalStorage.ExtractUserId()}/settings", true);
                                                              })">Podešavanja profila</a>
                        <a class="dropdown-item nav-link" @onclick="@(async () =>
                                                              {
                                                                  NavigationManager.NavigateTo($"/users/{await LocalStorage.ExtractUserId()}/applications", true);})">Moje prijave</a>

                        <div class=" dropdown-divider">
                        </div>
                        <a class="dropdown-item nav-link" @onclick="@(async () =>
                                                              {
                                                                  await AuthService.Logout();
                                                                  NavigationManager.NavigateTo("/account/login");
                                                              })">Odjavi se</a>
                    </div>
                </div>*@

            </div>
        </nav>
    </Authorized>
</AuthorizeView>


@code
{
    private string queryString;

    private async Task Search()
    {
        if (queryString != null && queryString != string.Empty)
        {
            string current = NavigationManager.Uri.ToString();
            string baseString;

            if (current.Contains("?query"))
            {
                baseString = current.Substring(0, current.IndexOf("?query")) + "?";
            }
            else if (current.Contains("&query"))
            {
                baseString = current.Substring(0, current.IndexOf("&query")) + "&";
            }
            else if (current == NavigationManager.BaseUri + "homepage")
            {
                baseString = current + "?";
            }
            else
            {
                baseString = current + "&";
            }

            NavigationManager.NavigateTo(baseString + $"query={queryString}", true);

            queryString = null;
        }
    }
}