
<EditForm Model="@model" OnValidSubmit="@SaveApplicationChanges">
    <InputSelect @bind-Value="@model.ProjectApplicationStatus">
        @foreach (var s in Enum.GetValues(typeof(ProjectApplicationStatus)))
        {
            if ((ProjectApplicationStatus)s == model.ProjectApplicationStatus)
            {
                <option selected value="@s">@s</option>
            }
            else
            {
                <option value="@s">@s</option>
            }
        }
    </InputSelect>

    <InputText @bind-Value="@model.AuthorComment"></InputText>
    <button type="submit">Sačuvaj</button>
</EditForm>
@code {

    [Parameter]
    public ProjectApplicationInputModel model { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }

    public async Task SaveApplicationChanges()
    {
        Console.WriteLine($"{model.ApplicationId}\n{model.ApplicantId}\n{model.ApplicantComment}\n{model.AuthorComment}\n{model.ProjectApplicationStatus}\n{model.CollaboratorProfileId}");
        ModalInstance.Close();
    }
}
