<div class="section">
    <EditForm Model="@UserProfileInputModel">
        <DataAnnotationsValidator />
        <h4 class="title">Osnovne informacije</h4>

        <h5>Ime</h5>
        <InputText @bind-Value="@UserProfileInputModel.FirstName"></InputText>
        <h5>Prezime</h5>
        <InputText @bind-Value="@UserProfileInputModel.LastName"></InputText>

        <h5>Tip korisnika</h5>
        <InputSelect TValue="UserAccountType"
                     ValueChanged="@((UserAccountType t) => UserAccountTypeChanged(t))"
                     ValueExpression="@(() => UserProfileInputModel.UserAccountType)"
                     Value="@UserProfileInputModel.UserAccountType">
            @foreach (var value in Enum.GetValues(typeof(UserAccountType)))
            {
                if ((UserAccountType)value == UserProfileInputModel.UserAccountType)
                {
                    <option selected value="@value">@value</option>
                }
                else
                {
                    <option value="@value">@value</option>
                }
            }
        </InputSelect>
        <p style="color:red"><ValidationMessage For="@(() => UserProfileInputModel.UserAccountType)" /></p>


        <h4 class="title">Informacije o instituciji</h4>
        <h5>Fakultet</h5>
        <InputSelect TValue="@string"
                     ValueChanged="@((string f) => FacultySelected(f))"
                     ValueExpression="@(() => UserProfileInputModel.FacultyName)"
                     Value="@UserProfileInputModel.FacultyName">
            <option></option>
            @foreach (var f in faculties)
            {
                if (f.Name == UserProfileInputModel.FacultyName)
                {
                    <option selected value="@f.Name">@f.Name</option>
                }
                else
                {
                    <option value="@f.Name">@f.Name</option>
                }

            }
        </InputSelect>

        @if (UserProfileInputModel.UserAccountType == UserAccountType.Student)
        {
            <h5>Ciklus</h5>
            <InputSelect TValue="@string"
                         ValueChanged="@((string c) => { CycleSelected(c); })"
                         ValueExpression="@(() => cycleStr)"
                         Value="@cycleStr">
                <option></option>
                @foreach (string c in cycles)
                {
                    if (c == cycleStr)
                    {
                        <option selected value="@c">@c</option>
                    }
                    else
                    {
                        <option value="@c">@c</option>
                    }
                }

            </InputSelect>

            <h5>Studijski program</h5>
            <InputSelect TValue="@string"
                         ValueChanged="@((string p) => ProgramSelected(p))"
                         ValueExpression="@(() => UserProfileInputModel.StudyProgramName)"
                         Value="@UserProfileInputModel.StudyProgramName">
                <option></option>
                @foreach (var p in programs)
                {
                    if (p.Name == collaboratorProfileInputModel.StudyProgramName)
                    {
                        <option selected value="@p.Name">@p.Name</option>
                    }
                    else
                    {
                        <option value="@p.Name">@p.Name</option>
                    }
                }
            </InputSelect>

            <h5>Studijski smjer</h5>
            <InputSelect TValue="@string"
                         ValueChanged="@((string s) => SpecializationSelected(s))"
                         ValueExpression="@(() => UserProfileInputModel.StudyProgramSpecializationName)"
                         Value="@UserProfileInputModel.StudyProgramSpecializationName">
                <option></option>
                @foreach (var s in specializations)
                {
                    if (s.Name == UserProfileInputModel.StudyProgramSpecializationName)
                    {
                        <option selected value="@s.Name">@s.Name</option>
                    }
                    else
                    {
                        <option value="@s.Name">@s.Name</option>
                    }
                }
            </InputSelect>

            <h5>Godina</h5>
            <InputSelect TValue="@string"
                         ValueChanged="@((string y) => { YearSelected(y); })"
                         ValueExpression="@(() => yearStr)"
                         Value="@yearStr">
                <option></option>
                @foreach (int y in years)
                {
                    if ($"{y}" == yearStr)
                    {
                        <option selected value="@y">@y</option>
                    }
                    else
                    {
                        <option value="@y">@y</option>
                    }
                }
            </InputSelect>
        }

        @if (UserProfileInputModel.UserAccountType == UserAccountType.FacultyMember)
        {
            <h5>Akademsko zvanje</h5>
            <InputSelect @bind-Value="@UserProfileInputModel.AcademicRank">
                @foreach (var value in Enum.GetValues(typeof(AcademicRank)))
                    {
                        if ((AcademicRank)value == UserProfileInputModel.AcademicRank)
                        {
                        <option selected value="@value">@value</option>
                        }
                        else
                        {
                        <option value="@value">@value</option>
                        }
                    }
            </InputSelect>

            <h5>Uža naučna oblast</h5>
            <InputSelect TValue="string"
                         @bind-Value="@UserProfileInputModel.StudyFieldName">
                <option value=null></option>
                @foreach (var sf in studyFields)
                {
                    if (sf.Name == collaboratorProfileInputModel.StudyFieldName)
                    {
                        <option selected value="@sf.Name">@sf.Name</option>
                    }
                    else
                    {
                        <option value="@sf.Name">@sf.Name</option>
                    }
                }
            </InputSelect>
        }
    </EditForm>


</div>

